<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication7.Properties.Settings.DBgestion_electionConnectionString" connectionString="Data Source=DESKTOP-F99O069\SQLEXPRESS;Initial Catalog=DBgestion_election;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
